In [1]:
from google.cloud import bigquery
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
import pandas as pd

In [3]:
from find_drives import *

In [4]:
season = 2018
player_name = "Stephen Curry"

In [7]:
start_loc = (-40, -22)
end_loc = (-40, 0)

In [5]:
drives_df = get_drives_dataframe(season, player_name)

In [8]:
drives_df['start_dist'] = drives_df.apply(
        lambda row: distance.euclidean(start_loc, (row["start_x"], row["start_y"])),
        axis=1,
    )

In [9]:
drives_df['end_dist'] = drives_df.apply(
        lambda row: distance.euclidean(end_loc, (row["end_x"], row["end_y"])),
        axis=1,
    )

In [11]:
drives_df['total_dist'] = drives_df['start_dist'] + drives_df['end_dist']

In [12]:
drives_df

,player_name,bhr_outcomes,end_type,start_game_clock,end_game_clock,period,start_x,start_y,end_x,end_y,game_id,season,start_dist,end_dist,total_dist
0,Stephen Curry,[TO],turnover,231.84,229.96,3,-9.07,-1.07,-37.89,-1.58,566ae949-cc8f-40a2-af72-b670ec14d67a,2018,37.346081,2.636001,39.982082
1,Stephen Curry,[TO],turnover,55.64,54.24,1,-11.08,-3.40,-27.32,3.02,4e1e8bd2-1192-411f-bcd2-a3a68c544cdb,2018,34.384973,13.034677,47.419650
2,Stephen Curry,[TO],turnover,7.52,6.08,3,-7.88,-1.77,-28.25,-6.50,7db35792-2032-4e91-8f70-22c65e62c57b,2018,37.959812,13.428049,51.387861
3,Stephen Curry,[TO],turnover,119.68,117.24,1,-29.05,-20.31,-42.58,-5.45,01ddd41c-6780-463c-a959-0c0488cd108d,2018,11.079648,6.029834,17.109482
4,Stephen Curry,[TO],pullout,104.16,101.72,4,-21.14,-15.85,-44.19,-16.84,a6ba9e1c-5c5b-4edd-be9e-0424ddc52d6f,2018,19.837391,17.353435,37.190826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,Stephen Curry,"[PASS, ASTF]",interiorPass,421.20,417.84,1,-9.34,-3.23,-36.70,1.79,3b17cd7d-3955-40cf-b008-7403921aa579,2018,35.949249,3.754211,39.703460
645,Stephen Curry,"[PASS, ASTF]",interiorPass,355.96,353.56,3,-9.32,2.85,-34.62,-3.88,79aaf825-1842-47b2-bfac-78ed9dff9b5c,2018,39.481450,6.633159,46.114609
646,Stephen Curry,"[PASS, ASTF]",interiorPass,455.88,453.84,3,-16.33,9.50,-36.57,2.98,a411ee18-c283-4600-900b-cfed3f093c40,2018,39.402016,4.543710,43.945726
647,Stephen Curry,"[PASS, ASTO]",kickout,464.32,461.64,1,-16.50,0.55,-35.49,0.62,28a9f0bf-44bf-4ee8-9ef2-66e52cf5d62e,2018,32.569196,4.552417,37.121613
648,Stephen Curry,"[PASS, ASTO]",interiorPass,59.32,57.28,3,-23.77,21.13,-40.76,5.13,6a6e373b-4b65-4310-bee6-ae89b4f220fe,2018,46.082641,5.185991,51.268632